body {
    background-color: rgb(30, 60, 30)
}

a, div, span, p, h1, h2, h3, h4, h5, h6 {
    color: rgba(255,255,255,0.87);
}

.no-margin {
    margin: 0px;
}

.padding {
    padding: 16px;
}

.bordered {
    border: 1px solid white;
}

a {
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
}

.bold {
    font-weight: bold;
}

.lowercase {
    text-transform: lowercase;
}

.bold-on-hover:hover {
    font-weight: bold;
}

.scrollable {
    overflow: auto;
}

::-webkit-scrollbar {
    width: 2px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.67);
}

.bgc-primary {
    background-color: rgb(30, 60, 30)
}

.fade.ng-hide {
    opacity: 0;
}

.fade.ng-hide-remove {
    transition: all linear 1000ms;
}

.fade.ng-hide-add {
    transition: all linear 1500ms;
}