md-sidenav {
    transition: 0.5s all;
    box-shadow: none !important;
    background-color: #333333;
}

.sidenav {
    text-align: right;
}

.active {
    border-right: 4px solid rgba(255,255,255,0.87) !important;
}

.anchor-item {
    border-top: 0px solid #333;
    border-right: 4px solid #333;
    border-bottom: 0px solid #333;
}

md-sidenav, 
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 85vw !important;
    max-width: 200px !important;
} 

md-backdrop.md-sidenav-backdrop{
    display: none !important;
}

#navMenu a:hover {
    background-color: #444;
    border-right: 4px solid rgba(255,255,255,0.67);
}