<div id="sidenav" 
    class="bgc-secondary" 
    style="min-width: 242px; margin-right: 64px; padding: 32px;" 
    layout="column" 
    layout-align="start end">
    <div class="padding" layout="column" layout-align="center center" layout-padding>
        <div style="color: gray">
            Portfolio
        </div>
        <a class="lowercase"
            ng-repeat="item in app.portfolio"
            ng-href="{{item.link}}"
            ng-mouseenter="updateHeader(item)"
            ng-mouseleave="updateHeader(null)"
            target="_blank">
            {{item.name}}
        </a>
    </div>
    <div class="padding" layout="column" layout-align="center center" layout-padding>
        <div style="color: gray">
            Contact Me
        </div>
        <a class="lowercase"
            ng-repeat="item in app.contacts"
            ng-href="{{item.link}}"
            ng-mouseenter="updateHeader(item)"
            ng-mouseleave="updateHeader(null)"
            target="_blank">
            {{item.name}}
        </a>
    </div>
</div>