<div class="bgc-secondary" style="padding: 0px 16px" 
    layout="column"
    layout-align="center center"
    flex>
    <div class="scrollable" style="width: 100%; padding: 0px 16px; margin: 16px 0px 16px 0px;">

        <div class="fade" 
            ng-show="view == 'quote'"
            layout="row">
            <span flex-gt-xs="10"></span>
            <div>
                <p style="font-style: italic;">"{{quote.body}}"</p>
                <div layout="row" layout-align="end center">- {{quote.author}}</div>
                <div style="padding: 48px 0px 0px 0px;"
                    layout="row"
                    layout-align="end center">
                    <a ng-click="transitionToView('body')" 
                        href="" 
                        layout="row" 
                        layout-align="start center">
                        &nbsp;show content
                        <i class="material-icons">keyboard_arrow_right</i>
                    </a>
                </div>
            </div>
            <span flex-gt-xs="10"></span>
        </div>
        <div class="fade ng-hide" 
            ng-show="view == 'body'">
            <div style="padding: 16px 0px;"
                layout="row"
                layout-align="start center">
                <a ng-click="transitionToView('quote')"
                    layout="row" 
                    href="" 
                    layout-align="start center">
                    <i class="material-icons">keyboard_arrow_left</i> 
                    back to quote&nbsp;
                </a>
            </div>
            <h3>About Me</h3>
            <p>{{content.body}}</p>
            <h3>MeDao</h3>
            <p>
                <b>Abstract.</b> 
                {{content.abstract}}
                <br>
                <br>
                <a class="padding"
                    href="https://docs.google.com/document/d/1A8fjq-fONbSUo_zS8ac7Qs3hqog2Ap78eWHjDGHI5_s/edit?usp=sharing"
                    target="_blank">
                    continue reading whitepaper...
                </a>
            </p>
            <h3>Community</h3>
            <p>{{content.community}}</p>
        </div>
    </div>
</div>